<h1 class="alert text-center">{{title}}</h1>
<div class="container-fluid row" style="height: 100vh;">
  <div class="col-5">
    <h2 class="alert alert-primary rounded-0">跟组件</h2>
    <span (click)="add('red')" class="btn btn-danger">红色 +1</span>
    <span (click)="add('green')" class="btn btn-success ml-2 mr-2">绿色 +1</span>
    <span (click)="add('blue')" class="btn btn-primary">蓝色 +1</span>
  </div>
  <div class="col-7 d-flex flex-column">
    <app-counter></app-counter>
    <app-color-block></app-color-block>
  </div>
</div>